*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

header{
    background: #1a2238;
    color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}
li{ 
    list-style-type: none;
    padding: 10px;
}
li:hover{
    transform: rotate(2deg);
    transition: .1s ease-in;
}
li a:hover{
    color: orangered;
}
a{
    color: #eaeaea;
    text-decoration: none;
}
ul{
    display: flex;
}
.logo{
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
    transition: all .1s ease 0s;
}
.logo:hover{
    color: orangered;
    transform: rotate(2deg);
}
.btn-cta{
    margin-right: 10px;
    border: none;
    font-size:10px ;
    padding:6px 12px ;
    background-color: red;
    color: #eaeaea;
    border-radius: 8px;
    cursor: pointer;
}